
:root {
    --text-color: #393939;
    --background-color: #f5f7fa;
    --table-row-even: #00000006;
    --table-row-odd: #0000;
    --highlighted-col-background: #bbccbb22;
    --primary-ui-color: hsl(188, 15%, 40%);
    --primary-ui-color-darker: hsl(188, 34%, 27%);
    --inferred-ui-color: hsl(154.6, 35.8%, 32.4%);
    --inferred-gradient-end-color: rgb(57, 106, 53);
    --stats-primary-ui-color: var(--primary-ui-color);
    --modal-wrapper-background: #eee6;
    --classify-btn-color: hsl(246, 29%, 40%);
    --verify-btn-color: hsl(276, 29%, 40%);
    --save-btn-color: #27ae60;
    --export-html-btn-color: rgb(54, 90, 145);
    --export-xlsx-btn-color: rgb(58, 136, 47);
    --light-colored-btn-color: rgb(185, 209, 209);
    --light-colored-btn-text: #0a5662;
    --dark-shadow: 1px 0 5px #0006;
    --light-shadow: 1px 0 5px #fff6;
    --th-border-color: #0000003b;
    --link-color: rgb(0, 45, 115);
    --detail-button-background: linear-gradient(180deg, hsl(210, 24%, 87%) 0%, hsl(210, 32%, 93%) 60%);
    --min-width: 1620px;
}


body {
    font-family: "Inter Tight",Arial,sans-serif;
    margin: 8px;
    background-color: #eeeff1;
    color: var(--text-color);
    width: calc(100vw - 20px);
    height: calc(100vh - 10px);
    min-width: 1080px;
/*     border: 1px solid black; */
}

.header-branding{
    font-size: 18pt;
    justify-self: center;
    font-family: "Arial Narrow";
    font-weight: 400;
    color: #3f8d82;
    text-shadow: var(--light-shadow);
}
