@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

:root {
    --text-color: #393939;
    --background-color: #f5f7fa;
    --table-row-even: #00000006;
    --table-row-odd: #0000;
    --highlighted-col-background: #bbccbb22;
    --primary-ui-color: hsl(188, 31%, 29%);
    --primary-ui-color-darker: hsl(188, 34%, 27%);
    --inferred-ui-color: hsl(154.6, 35.8%, 32.4%);
    --inferred-gradient-end-color: rgb(57, 106, 53);
    --stats-primary-ui-color: var(--primary-ui-color);
    --modal-wrapper-background: #eee6;
    --classify-btn-color: hsl(246, 29%, 40%);
    --verify-btn-color: hsl(276, 29%, 40%);
    --save-btn-color: #27ae60;
    --export-html-btn-color: rgb(54, 90, 145);
    --export-xlsx-btn-color: rgb(58, 136, 47);
    --light-colored-btn-color: rgb(185, 209, 209);
    --light-colored-btn-text: #0a5662;
    --dark-shadow: 1px 0 5px #0006;
    --light-shadow: 1px 0 5px #fff6;
    --th-border-color: #0000003b;
    --link-color: rgb(0, 45, 115);
    --detail-button-background: linear-gradient(180deg, hsl(210, 24%, 87%) 0%, hsl(210, 32%, 93%) 60%);
    --min-width: 1620px;
}

body {
    font-family: "Inter Tight",Arial,sans-serif;
    margin: 8px;
    background-color: var(--background-color);
    color: var(--text-color);
}

html.busyCursor body,html.busyCursor body * {
    cursor: wait
}

.loading-overlay {
    position: fixed;
    top: 58px;
    left: 9px;
    margin: 0;
    padding: 0;
    width: calc(100% - 18px);
    height: calc(100% - 67px);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    transition-delay: .33s;
    border-radius: 8px;
    background: var(--modal-wrapper-background);
    flex-direction: column;
    gap: 40px;
}

html.busyCursor .loading-overlay {
    opacity: 1;
    pointer-events: all;
}

.loading-spinner {
    width: 60px;
    height: 60px;
    border: 12px solid var(--primary-ui-color);
    border-top: 12px solid transparent;
    border-radius: 50%;
    animation: spin .75s linear infinite
}

.table-container {
    box-shadow: 0 2px 8px rgba(0,0,0,.35);
    border: 1px solid var(--primary-ui-color);
    overflow-y: auto;
    max-height: calc(100vh - 18px);
    position: relative;
    border-radius: 8px
}

h3,th {
    position: sticky;
    top: 0;
    text-shadow: var(--dark-shadow)
}

h3 {
    margin: 0;
    padding: 10px 0 10px 10px;
    background: var(--stats-primary-ui-color);
    color: #fefefe;
    display: inline-block;
    font-weight: 400;
    width: calc(100% - 10px);
    background: linear-gradient(180deg,var(--primary-ui-color) 50%,var(--primary-ui-color-darker) 100%)
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    min-width: var(--min-width);
    border-radius: 6px
}

td {
    padding: 9px 6px
}

th.rotate-header {
    white-space: nowrap;
    padding: 0
}


.header-branding{
    font-size: 24pt;
    justify-self: center;
    font-family: "Arial Narrow";
    font-weight: 400;
    color: #3f8d82;
    text-shadow: var(--light-shadow);
}


th.rotate-header>div {
    transform: rotate(-90deg) translateX(-40px);
    width: 32px;
    margin: 55px 0
}

th.rotate-header>div>span {
    display: block;
    text-align: left;
    max-height: 100px
}

th {
    vertical-align: bottom;
    background-color: var(--primary-ui-color);
    color: #fff;
    font-weight: 700;
    box-shadow: inset 0 0 0 .75px var(--th-border-color);
    padding: 6px;
    text-align: left;
    z-index: 10;
    font-size: 8.5pt
}

tr:nth-child(4) th:not(.inferred-header) {
    background: linear-gradient(180deg,var(--primary-ui-color) 50%,var(--primary-ui-color-darker) 100%)
}

th[data-sort]:hover {
    filter: contrast(1.25) brightness(.9);
    cursor: pointer
}

td.highlight-status {
    background: var(--highlighted-col-background)
}

.alt-shade-1,li:nth-child(even) {
    background-color: var(--table-row-even)
}

.alt-shade-2,li:nth-child(odd) {
    background-color: var(--table-row-odd)
}

.secondary-text-cell {
    font-size: 10pt;
    font-family: "Arial Narrow"
}

.detail-content {
    text-align: justify
}

.toggle-btn {
    cursor: pointer;
    text-decoration: none;
    color: #000b;
    background: var(--detail-button-background);
    font-size: 9.5pt;
    font-weight: 400;
    transition: filter .3s ease-in-out;
    text-align: center;
    box-shadow: inset 0 0 0 .5px #0006
}

.toggle-btn:hover {
    filter: saturate(200%) contrast(110%)
}

.sort-indicator {
    position: absolute;
    right: 8px;
    top: 36px;
    transform: translateY(-50%);
    font-size: .9em
}

input[type=search] {
    width: calc(100% - 4px);
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #0008;
    font-family: inherit;
    height: 42px;
    font-size: 11pt;
    font-style: italic;
    margin: 2px;
    color: #fff;
    background: #0000002a;
    -webkit-text-fill-color: #fff;
    -webkit-opacity: 1;
    opacity: .66;
    border-radius: 6px;
    transition: .25s all ease
}

input[type=search]:focus,input[type=search]:hover {
    opacity: 1;
    transition: .25s all ease
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none
}

input[type=search]::placeholder {
    color: rgba(255,255,255,.7);
    opacity: 1
}

input[type=search]::-webkit-input-placeholder {
    color: rgba(255,255,255,.7);
    opacity: 1
}

.filter-item input[type=number] {
    height: 28px;
    width: 55px;
    background: 0 0;
    color: #eee;
    font-size: 10.5pt;
    border: 0;
    padding: 3px 4px;
    margin: 0-18px 0 0;
    transition: .25s all ease;
    -moz-appearance: textfield;
    appearance: textfield;
    font-weight: 700
}

.filter-item input[type=number]:hover {
    background: #0002;
    border-radius: 3px;
    transition: .25s all ease;
    -moz-appearance: unset;
    appearance: unset;
    z-index: 9999
}

.action-btn {
    margin: 0 2px;
    /*! padding: 10px 20px; */
    background-color: var(--primary-ui-color);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11pt;
    transition: all .33s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    min-width: 160px;
    height: 40px;
    text-shadow: var(--dark-shadow);
    border: 1px solid #0002;
}

.action-btn:hover {
    filter: contrast(1.2) brightness(1.2);
    box-shadow: 0 3px 5px rgba(0,0,0,.15)
}

.action-btn:active {
    transform: translateY(1px);
    filter: contrast(1.2) brightness(.8);
    transition: all .1s ease
}

.action-btn:disabled {
    opacity: .5
}

.action-btn:disabled:hover {
    filter: unset;
    transform: unset
}

.action-btn:disabled:active {
    filter: unset
}

.edit-section {
    margin-top: 15px;
    padding-top: 15px
}

form label {
    display: block;
    font-weight: 700;
    line-height: 2em
}

form input[type=text] {
    margin-bottom: 10px
}

.changed-by-cell,.changed-cell {
    font-size: 9.5pt;
    color: #7f8c8d
}

.status-cell {
    text-align: center;
    font-size: 1.3em;
    padding: 0px;
    font-family: "Segoe UI Emoji Windows 11";
}

.editable-status,.editable-verify, .pdf-status {
    cursor: pointer;
    transition: background-color .2s,transform .1s;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(64,64,64,.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.editable-status:hover,.editable-verify:hover, .pdf-status:hover {
    background-color: var(--light-colored-btn-color);
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0,0,0,.1)
}

.editable-status:active,.editable-verify:active, .pdf-status:active {
    transform: scale(.95);
    background-color: var(--light-colored-btn-color)
}

.detail-flex-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out,opacity .3s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr 530px;
    grid-template-rows: auto;
    gap: 9px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0
}

.detail-row.expanded .detail-flex-container {
    max-height: 3000px;
    opacity: 1;
    transition: max-height .5s ease-in-out,opacity .4s ease-in-out;
    border-bottom: 1px solid #e0e0e0
}

.detail-content {
    min-width: 0;
    box-sizing: border-box;
    padding: 4px
}

.detail-edit {
    min-width: 0;
    grid-column: 3/4;
    grid-row: 1/3
}

.detail-content p,.detail-edit p {
    text-align: justify;
    white-space: normal;
    margin-bottom: .5em;
    line-height: 1.3em
}

.detail-row>td {
    padding: 0
}

.detail-edit input[type=text] {
    padding: 6px;
    border: 1px solid #dadada;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1em;
    background: #ffffffa0
}

.save-btn {
    background-color: var(--save-btn-color);
    width: 170px;
    font-weight: 700
}

#classify-all-btn,#classify-remaining-btn,.classify-btn {
    background: var(--classify-btn-color)
}

#verify-all-btn,#verify-remaining-btn,.verify-btn {
    background: var(--verify-btn-color);
}

#classify-all-btn strong,#verify-all-btn strong {
    text-decoration: underline
}

#export-html-btn,#import-bibtex-btn {
    min-width: 150px
}

#export-html-btn {
    background: var(--export-html-btn-color)
}

#export-xlsx-btn {
    background: var(--export-xlsx-btn-color)
}

#stats-btn {
    width: 160px;
    max-width: 160px;
    min-width: 160px;
    background: var(--stats-primary-ui-color);
}
#parça-tools-btn{
    background: var(--classify-btn-color);
}

#batchModal{
    backdrop-filter: unset;
    background: unset;
}
#apply-serverside-filters, #static-stats-btn {
    background: var(--light-colored-btn-color);
    width: 125px;
    max-width: 125px;
    min-width: 125px;
    color: var(--light-colored-btn-text);
    font-size: 10pt;
    text-shadow: var(--light-shadow);
    transition: .2s all ease-in-out;
    padding: 0;
}

#static-about-btn {
    background: var(--light-colored-btn-color);
    color: var(--light-colored-btn-text);
    width: 30px;
    min-width: 30px;
    padding: 0;
}

#fullscreen-btn {
    background: 0 0;
    width: 28px;
    max-width: 28px;
    min-width: 28px;
    height: 36px;
    padding: 0;
    box-shadow: none;
    display: none
}

#about-btn {
    width: 30px;
    min-width: 30px;
    padding: 0
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 400
}

th.inferred-header {
    background: var(--inferred-ui-color)
}

th.inferred-header-2 {
    filter: contrast(1.1) saturate(.95) hue-rotate(-16deg)
}

th.inferred-header-3 {
    filter: contrast(1.15) saturate(.95) hue-rotate(-36deg)
}

#inferred-header-title {
    background: linear-gradient(90deg,var(--inferred-ui-color),var(--inferred-gradient-end-color))
}

#inferred-header-title div, .inferred-header:not(.rotate-header) div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6px 0 0px;
    align-items: center;
}

.filter-item {
    white-space: nowrap
}

input[type=checkbox] {
    height: 12px;
    width: 12px;
    margin: 0;
    transform: scale(2,2) translate(1.5px,-.5px);
    border-radius: 0;
    opacity: .5
}

input[type=checkbox]:checked {
    opacity: 1;
    filter: hue-rotate(-50deg) brightness(1.3)
}

.filter-item label {
    margin-bottom: 0
}

tr.filter-hidden {
    display: none
}

#counts-footer {
    position: sticky;
    bottom: 0;
    z-index: 998;
    border-radius: 6px
}

#counts-footer tr {
    background-color: var(--primary-ui-color);
    color: #fff;
    font-weight: 700
}

#counts-footer td {
    text-align: center;
    font-size: 9pt;
    padding: 9px 0
}

.trace-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    padding: 8px 12px;
    border: 1px solid #dadada;
    background-color: #aaaaaa0b;
    border-radius: 5px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 6px 0 10px;
    font-size: 10.5pt;
    grid-column: 1/3;
}

.detail-evaluator-trace,.detail-verifier-trace {
    display: grid;
    min-width: 100%;
    grid-template-columns: 1fr 170px;
    grid-template-rows: max-content max-content;
    align-items: end;
}

#main-header-wrapper {
    padding: 0
}

.main-header {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto;
    grid-template-rows: auto;
    gap: 4px;
    align-items: center;
    background-color: #e0e6ed;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    min-width: var(--min-width);
    height: 48px;
    background: var(--detail-button-background);
    border-radius: 8px 8px 0 0
}

.header-title h2 {
    margin: 0;
    color: #2c3e50;
    font-size: 1.5em
}

.header-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    color: #eee;
    font-weight: 400;
    justify-content: space-between
}

.filter-item {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    font-size: 10.5pt
}

#batch-status-message {
    font-size: 10pt;
    padding: 4px;
}

#batch-actions{
    z-index: 1000;
    overflow: auto;
    opacity: 1;
    /*! pointer-events: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 56px;
    right: 220px;
    background: var(--modal-wrapper-background);
    backdrop-filter: blur(16px);
    perspective: 100vh;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
    border-radius: 8px;
    background: #f5f7fad9;
    border: 1.5px solid var(--classify-btn-color);
    box-shadow: 0 48px 96px 32px rgba(64,64,64, 0.5);
    box-sizing: border-box;
    transform: scale3d(.75,.66,1) translateY(-66px) translateX(40px);
    transition: opacity .3s ease-in-out, transform .3s ease-out;
    /*! background: linear-gradient(180deg,var(--classify-btn-color) 0%,var(--verify-btn-color) 48px,#f5f7fad9 20px); */
    width: 354px;
    text-align: justify;
}

.header-controls {
    margin: 0 4px
}

.detail-edit {
    display: grid;
    height: 100%;
    padding: 0 12px 12px 0;
    box-sizing: border-box
}

.detail-edit form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 90px;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
    height: calc(100% - 16px)
}

.detail-edit form>label:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1/2
}

.detail-edit form>label:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 1/2
}

.detail-edit form>label:nth-of-type(3) {
    grid-column: 1/3;
    grid-row: 2/3
}

.detail-edit form>label:nth-of-type(4) {
    grid-column: 3/4;
    grid-row: 2/3
}

.detail-edit form>label:nth-of-type(5) {
    grid-column: 4/5;
    grid-row: 2/3
}

.detail-edit input[type=text] {
    width: 100%;
    box-sizing: border-box
}

.detail-edit form>label:nth-of-type(6) {
    grid-column: 1/-1;
    grid-row: 3/4;
    display: flex;
    flex-direction: column
}

.detail-edit form textarea.editable {
    width: 100%;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-height: 150px;
    border-radius: 5px;
    display: block;
    resize: none;
    background: #ffffffa0;
    border: 1px solid #dadada
}

.detail-edit form>.row-actions {
    grid-column: 1/-1;
    grid-row: 4/5;
    text-align: left;
    display: flex;
    align-content: space-around;
    justify-content: space-between
}

.number-cell {
    text-align: center
}

.ontop-header {
    z-index: 100
}

.modal-content,.modal-small-content {
    background: linear-gradient(180deg,var(--stats-primary-ui-color) 0%,var(--stats-primary-ui-color) 20px,#f5f7fad9 20px);
    /*! border: 2px solid var(--stats-primary-ui-color); */
    border-radius: 8px;
    box-shadow: 0 16px 96px -0px rgba(0,0,0,.66);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: scale3d(.94,.94,1) rotate3d(2,1,0,2.5deg) translateY(-20px);
    transition: transform .3s ease-out;
    display: grid
}

.modal-content {
    width: calc(100vw - 180px);
    min-width: 1600px;
    height: calc(100vh - 20px);
    grid-template-columns: 540px 1fr;
}

.modal-small-content {
    width: 1080px;
    grid-template-columns: 4fr 2fr;
}

.modal-small-section h4,.modal-small-section p,.modal-small-section ul {
    padding: 0 18px
}

.close {
    color: #eee;
    float: right;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    right: 16px;
    top: 4px;
    cursor: pointer;
    z-index: 1001;
    text-shadow: var(--dark-shadow)
}

.close:focus,.close:hover {
    color: #fff;
    text-decoration: none
}

.stats-section ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    overflow: hidden
}

.stats-section li {
    padding: 4px 0;
    font-size: 9.5pt
}

.stats-section li span.count {
    font-weight: 700;
    min-width: 40px;
    display: inline-block;
    text-align: center
}

.stats-section p {
    padding: 0 10px;
    font-size: 10.5pt
}

.stats-list-multicolumn-short {
    column-count: 2;
    padding: 0 10px
}

.stats-list-multicolumn-2,.stats-list-multicolumn-short {
    column-gap: 0;
    break-inside: avoid-column
}

.stats-list-multicolumn li {
    break-inside: avoid
}

.modal {
    z-index: 1000;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--modal-wrapper-background);
    backdrop-filter: blur(12px);
    perspective: 100vh
}

.modal p {
    text-align: justify
}

.modal.modal-active, #batch-actions.active {
    opacity: 1;
    pointer-events: auto;
    transition-delay: .3s
}

.modal.modal-active .modal-content,
.modal.modal-active .modal-small-content,
.modal.modal-active #batch-actions {
    transform: none;
    transition-delay: .2s
}

.stats-section {
    overflow-y: scroll;
    overflow-x: hidden
}

.stats-lists {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr 90px 1fr 1fr;
    border-right: 2px solid var(--stats-primary-ui-color);
    flex: 1;
    min-height: 0
}

.stats-charts{
    display: grid;
    grid-template-columns: 152px 152px 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(36vh - 6px) calc(36vh - 6px) calc(28vh - 8px);
}
.stats-charts .stats-section:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/3;
/*     height: calc(32vh - 10px); */
}
.stats-charts .stats-section:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/3;
/*     height: calc(32vh - 10px); */
}
.stats-charts .stats-section:nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/4;
    height: calc(32vh - 10px);
}
.stats-charts .stats-section:nth-child(4) {
    grid-row: 1/2;
    grid-column: 3/7;
/*     height: calc(32vh - 10px); */
}
.stats-charts .stats-section:nth-child(5) {
    grid-row: 2/3;
    grid-column: 3/7;
/*     height: calc(32vh - 10px); */
    
}
.stats-charts .stats-section:nth-child(6) {
    grid-row: 3/4;
    grid-column: 4/7;
    height: calc(32vh - 10px);
    
}
@media screen and (max-width:1880px) {
    body {
        margin: 0
    }

    .table-container {
        max-height: calc(100vh);
        border-radius: 0;
        background: var(--primary-ui-color);
        border: 0
    }

    .loading-overlay {
        left: 0;
        width: calc(100%);
        height: calc(100%);
        border-radius: 0
    }

    .main-header {
        border-radius: 0
    }
    #batch-actions{
        top: 48px;
        right: 216px;
    }
}

::-webkit-scrollbar {
    width: 0;
    height: 0
}