<!-- templates/stats_modal_content.html -->
<!-- <p> Data in <strong>all lists</strong> below is dynamically calculated based on <strong>currently visible</strong> papers:</p> -->
<div class="stats-lists">
    <div class="stats-section">
        <h3>Repeating <strong>Journals</strong> <span style="font-size:0.6em"><!-- — Scroll down on each list for more--> ↓</span></h3>
        <ul id="journalStatsList" class="stats-list-multicolumn-2"></ul>
    </div>
    <div class="stats-section">
        <h3>Repeating <strong>Conferences</strong> <span style="font-size:0.6em">↓</span></h3>
        <ul id="conferenceStatsList" class="stats-list-multicolumn-2"></ul> 
    </div>
    <div class="stats-section">
        <h3>Repeating <strong>Keywords</strong> <span style="font-size:0.6em">↓</span></h3>
        <ul id="keywordStatsList" class="stats-list-multicolumn-short"></ul>        
    </div>
    <div class="stats-section">
        <h3>Repeating <strong>Authors</strong> <span style="font-size:0.6em">↓</span></h3>
        <ul id="authorStatsList" class="stats-list-multicolumn-short"></ul>
    </div>
    <div class="stats-section" style="display: none;">
        <h3>Repeating <strong>Research Areas</strong> <span style="font-size:0.6em">↓</span></h3>
        <ul id="researchAreaStatsList" class="stats-list-multicolumn-short"></ul>
    </div>
    <div class="stats-section">
        <h3>Inferred <strong>other features</strong> <span style="font-size:0.6em">↓</span></h3>
        <ul id="otherDetectedFeaturesStatsList" class="stats-list-multicolumn-short"></ul>
        <!-- show every non-blank instance of paper.features.other here. TBD. Can't be done client-side because detail row is lazy-loaded-->
    </div>
    <div class="stats-section">
        <h3>Inferred <strong>Models</strong> <span style="font-size:0.6em">↓</span></h3>
        <ul id="modelNamesStatsList" class="stats-list-multicolumn-short"></ul>
        <!-- show every non-blank instance of paper.features.other here. TBD. Can't be done client-side because detail row is lazy-loaded-->
    </div>
</div>
        
<div class="stats-charts">
    <div class="stats-section">
        <h3><strong>Techniques</strong> Distribution             
            <span style="font-size:0.6em;padding-left: 30px;position: absolute; right: 6px;top: 16px;">
                <label style="padding: 10px;margin: 10px;">
                    Pie<input type="checkbox" id="pieToggle" style="transform: scale(2) translate(5px,-0.5px);">
                </label>
            </span>
        </h3>
        <div class="chart-container" style="height:calc(100% - 43px); width:305px; max-width: 305px; margin: auto;">
            <canvas id="techniquesPieChart"></canvas>
        </div>
    </div>
    <div class="stats-section">
        <h3><strong>Features</strong> Distribution</h3>
        <div class="chart-container" style="height:calc(100% - 43px); width:305px; max-width: 305px; margin: auto;">
            <canvas id="featuresPieChart"></canvas>
        </div>
    </div>
    <div class="stats-section">                
        <h3><strong>Publication Types</strong> per Year</h3>
        <div class="chart-container-fullwidth" style="height: calc(80% - 20px); margin: auto;">
            <canvas id="pubTypesPerYearLineChart"></canvas>
        </div>
    </div>
    <div class="stats-section">
        <h3><strong>Techniques</strong> per Year 
            <span style="font-size:0.6em"> — Click on a label to show/hide its data and reflow the chart </span>
            <span style="font-size:0.6em;padding-left: 30px;position: absolute;right: 40px;top: 16px;">
                <label>
                    Cumulative<input type="checkbox" id="cumulativeToggle" style="transform: scale(2) translate(5px,-0.5px);">
                </label>
                <label style="padding: 0 20px;margin: 10px;">
                    Stacked<input type="checkbox" id="stackingToggle" style="transform: scale(2) translate(5px,-0.5px);">
                </label>
            </span>
        </h3>
        <div class="chart-container-fullwidth" style="height:calc(100% - 43px); margin: auto;">
            <canvas id="techniquesPerYearLineChart"></canvas>
        </div>
    </div>

    <div class="stats-section">
        <h3><strong>Features</strong> per Year  <span style="font-size:0.6em"> — Data in this page is dynamically calculated based on <strong>currently visible</strong> papers.</span></h3>
        <div class="chart-container-fullwidth" style="height:calc(100% - 43px); margin: auto;">
            <canvas id="featuresPerYearLineChart"></canvas>
        </div>
    </div>
    <div class="stats-section">
        <h3><strong>Survey</strong> vs <strong>Implementation</strong> Papers per Year</h3>
        <div class="chart-container-fullwidth" style="height:calc(80% - 20px);  margin: auto;">
            <canvas id="surveyVsImplLineChart"></canvas>
        </div>
    </div>
</div>